@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

:root {
    --primary: rgb(0, 75, 133);
    --secondary: rgb(158, 10, 84);
    --boton-1: rgb(45, 100, 135);
    --boton-2: rgb(27, 51, 36);
    --color-bg: rgb(0, 0, 0);
    --color-gold: rgb(218, 165, 32);
    --color-text: rgb(255, 255, 255);
    --color-primaryT: rgba(0, 75, 133, .30);
}

html {
    margin: 0 auto;

    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", 'Open Sans', sans-serif;
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
}

/* SCROLL HTML */
body::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-bg);
}

body::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-text);
}

.container {
    width: 100vw;
    min-height: 100vh;

    overflow: hidden;
}

/* HEADER */
header {
    width: 100%;
    height: 7.5vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-bg);
    position: fixed;

    z-index: 1000;
}

.logo1 {
    max-width: 15rem;
}

.menu {
    width: 75%;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu__lista {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--color-text);

    font-size: clamp(.5rem, 1.5vw, 1.5rem);
    font-weight: 600;
    text-wrap: nowrap;

    list-style-type: none;
    text-transform: uppercase;
}

.menu__item {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.menu__item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
    text-decoration: none;
}

.menu__item a:hover {
    color: var(--color-gold);

    transition: all ease-in-out .25s;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* HOME PAGE*/
.main-principal {
    height: 100vh;
}

.principal,
.secundario {
    width: 100%;
    height: 100vh;
    min-height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal {
    position: relative;

    transition: opacity .5s ease-in-out;
}

.principal .hero-content {
    width: 100%;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Oscurece la imagen */
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
}

.background video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -100;
}

.topground {
    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 4vh;
}

.logo img {
    object-fit: none;
    object-position: center;
}

.principal .boton {
    display: inline-block;

    transition: background-color 0.3s;
}

.principal .boton a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
}

.principal .boton a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.decoration {
    display: inline-block;
    width: 100%;
    position: relative;
}

.decoration img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.decoration-2 {
    display: inline-block;
    width: 100%;
    position: relative;
}

.decoration-2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.decoration img,
.decoration-2 img {
    width: 100%;
    height: auto;
}


/* SECUNDARIO */
.secundario {
    position: relative;
    flex-direction: column;
    display: none;
    opacity: 0;

    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    padding: 5rem 0;

    transition: opacity .5s ease-in-out;
}

.secundario .trailers {
    width: 90%;
}

/* Trailers */
.trailers {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


}

.trailers .contenedor {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.trailers__iframe {
    width: 30vw;
    height: 35vh;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.trailers__iframe iframe {
    width: 100%;
    height: 100%;

    padding: 3%;
}


h4 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text);
}

/* Boton */
.boton {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.boton a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--boton-2);
    color: var(--boton-1);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;

    -webkit-text-stroke: .5px var(--color-bg);
}

.boton a:hover {
    background-color: var(--boton-1);
    color: var(--boton-2);
}

.boton-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-2 a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--boton-1);
    color: var(--boton-2);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;

    -webkit-text-stroke: .5px var(--color-bg);
}

.boton-2 a:hover {
    background-color: var(--boton-2);
    color: var(--boton-1);
}


/* Mostrar el article secundario cuando está enfocado por ancla */
#secundario:target {
    display: flex;
    opacity: 1;
}

/* Ocultar el hero cuando se selecciona el ancla de trailers */
#secundario:target~.principal {
    display: none;
}

/* CAPITULOS ----------------------------------------------------------*/
.main-chapters {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    top: 7.5vh;
}

.background-capitulos {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    background-image: url(../images/info-media/Arc_FinalTrailer_Thumb_Textless.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    background-attachment: fixed;

    z-index: -1;
}

.title-h1 {
    text-transform: uppercase;

    color: var(--color-text);
    font-size: 1.75rem;
}

.contenedor-acto {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    position: relative;
    top: 0;
    left: 0;

    padding: 1rem;
}

.section-principal-1,
.section-principal-2,
.section-principal-3 {
    width: 100%;
    height: 82.5vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: .5rem;

    padding: 2rem 4rem;
}

.title {
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    color: var(--color-text);
    font-size: 1.75rem;
}

.capitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 27.5vh;

    position: relative;
    left: -10vw;

    padding: 0 2rem;
}

.capitulo__img {
    width: auto;
}

.capitulo__img img {
    width: clamp(10vw, 15vw, 20vw);
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.capitulo__netflix {
    height: 100%;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;

    padding: 0 2rem;
}

.capitulo__netflix a {
    /* text-decoration: none; */
    font-size: 1.5rem;
    font-weight: 600;
}
.capitulo__netflix a i {
    font-size: 1.5rem;
    color: var(--color-text);
    margin-left: .5rem;
}

.capitulo__netflix a:hover {
    cursor: pointer;
    text-shadow: 1px 3px 15px var(--color-text);
}

.capitulo__netflix a:link {
    color: var(--color-text);
}

.capitulo__netflix a:visited {
    color: var(--primary);
}

.capitulo__descripcion {
    color: var(--color-text);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

.capitulo:hover {
    border: 5px solid var(--color-text);
    border-radius: 30px;
    box-shadow: 1px 3px 15px 0 var(--color-text);
}

/* Galería */
.galeria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    padding: 1rem 2rem;
}

.galeria h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75rem;
    color: var(--color-text);
}

/* Galería: Acto I */
.galeria__imagenes-i {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 5px;
}

.galeria__imagenes-i>div img {
    object-fit: cover;

    transition: all ease-in-out .25s;
}

.galeria__imagenes-i>div img:hover {
    transform: scale(1.15);
    transition: all ease-in-out .25s;
}

/* Galería: Acto II */
.galeria__imagenes-ii {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.galeria__imagenes-ii>div img {
    object-fit: cover;

    transition: all ease-in-out .25s;
}

.galeria__imagenes-ii>div img:hover {
    transform: scale(1.15);
    transition: all ease-in-out .25s;
}

/* Galería: Acto III */
.galeria__imagenes-iii {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.galeria__imagenes-iii>div img {
    object-fit: cover;

    transition: all ease-in-out .25s;
}

.galeria__imagenes-iii>div img:hover {
    transform: scale(1.15);
    transition: all ease-in-out .25s;
}

hr {
    width: 85%;
    color: var(--color-text);
}

/* HISTORIA ----------------------------------------------------------------*/
.history * {
    color: var(--color-gold);
}

.history p {
    font-size: 1.6rem;
    line-height: 3rem;
}

.history1 {
    background-image: url(../images/history/00-background.jpg);
}

.history2 {
    background-image: url(../images/history/01-piltover.jpg);
}

.history3 {
    background-image: url(../images/history/02-zaun.jpg);
}

.history1,
.history2,
.history3 {
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}

.history__container {
    font-size: 24px;
    text-shadow: 2px 4px 15px rgb(93, 71, 40);
    text-align: center;
    font-weight: 700;
    line-height: 2rem;
    -webkit-text-stroke: 2px var(--color-bg);
    width: 54%;
}

.history__container h3 {
    margin: 7%;
    font-size: 50px;
}

/* SEGUNDA TEMPORADA -----------------------------------------------------------*/
.season2-main {
    width: 100%;
    height: 100vh;
}


/* ESTILOS SEGUNDA TEMPORADA ---------------------------------------------------*/
.season2-main {
    height: 200vh;
}

.season2-section {
    width: 100%;
    height: 100%;

    position: relative;
    top: 7.5vh;

    display: inline-flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.section2-container {
    color: var(--color-gold);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    text-shadow: 2px 4px 15px rgb(93, 71, 40);
    -webkit-text-stroke: 2px black;
}

.season2-section article {
    width: 100%;
    min-height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articulo__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding: 0 7.5%;

    transition: opacity .5s ease-in-out;
}

.articulo__info h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.articulo__info p {
    width: 75%;
    font-size: 1.5rem;
    text-wrap: balance;
}

.season2-section .articulo__video {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;

    transition: opacity .5s ease-in-out;
}

.articulo__video iframe {
    width: 50%;
    height: 70%;

    padding: 3%;
}

.section2-background,
.section2-background2 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section2-background {
    background-image: url(../images/history/01-piltover.jpg);
}

.section2-background2 {
    background-image: url(../images/history/02-zaun.jpg);
}

/*INFORMACION--------------------------------------------------------*/
.info-main {
    display: inline-block;
    position: relative;
    top: 7.5vh;

    margin-bottom: 8vh;

    width: 100%;
}

.general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;

    width: 100%;
}

/* GENERAL */
.general section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: space-evenly;

    padding: 3%;
    width: 85%;

    background-color: var(--color-text);

    border: 5px solid var(--color-gold);
    box-shadow: 1px 2px 20px 0 var(--color-gold);
    border-radius: 50px;
}

/* INFORMACION */
.info__info {
    padding: 3%;
    color: #000;
    width: 50%;
}

.info__title {
    text-align: center;
    font-size: 2rem;
    margin: 2.5%;
}

.info__lista {
    line-height: 1.5rem;
    text-align: justify;
    list-style: none;
}

.info__imagen {
    width: 50%;
}

.info__imagen img {
    width: 100%;
    height: 100%;
}

/* SINOPSIS */
.sinopsis div {
    text-align: center;
}

.sinopsis div h2 {
    font-size: 2rem;
    margin-bottom: 2%;
}

.sinopsis div p {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: .8rem;
    width: 80%;
    margin: 0 auto;
}

/* REPARTO */
.reparto {
    flex-direction: row;
}

.reparto__reparto {
    padding: 3%;
    color: #000;
    width: 50%;
}

.reparto h2 {
    font-size: 2rem;
    margin: 2.5%;
}

.reparto__lista {
    line-height: 1.5rem;
    text-align: justify;
    list-style: none;
}

.reparto__imagen {
    width: 50%;
}

.reparto__imagen img {
    width: 100%;
    height: 100%;
}

/* BANDA SONORA */
.banda-sonora {
    display: inline-flex;
    justify-self: center;
    align-self: center;
    flex-direction: row;
}

.banda-sonora__info {
    width: 50%;
    height: 65vh;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.banda-sonora__info h2 {
    font-size: 1.4rem;
}

.banda-sonora__info p {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: .2rem;
    padding: 5%;
}

.banda-sonora__info iframe {
    width: 100%;
    height: 100%;

    padding: 3%;
}

.banda-sonora__imagen {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.banda-sonora__imagen img {
    width: 100%;
    height: 100%;
}

/* DOCUMENTALES */
.documentales__documentales {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.documentales__principal {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 1rem;

    width: 100%;
}

.documentales__secundario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-image: url(../images/info/Animacion_de_Arcane_optimized.webp);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;

    width: 100%;
    height: 65vh;
}

.documentales__documentales h3 {
    background-color: var(--color-text);
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
}

.documentales__secundario iframe {
    width: 50%;
    height: 65%;

    padding: 3%;
}

/* CRITICAS, RANKING, PREMIOS */
.criticas,
.rank,
.premios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.criticas div,
.rank div,
.premios div {
    width: 85%;
    text-align: center;
}

.criticas div ul,
.rank div ul,
.premios div ul {
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
}

.criticas ul,
.rank ul,
.premios ul {
    list-style: none;
    text-align: start;
}

.criticas li,
.rank li,
.premios li {
    font-size: 1.15rem;
    width: 100%;
}

cite {
    font-size: 1rem;
}

.general section h2 {
    font-size: 2rem;
}

/*CONTACTO------------------------------------------------------------*/
.main-contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    top: 7.5vh;
    margin-bottom: 8vh;

    color: var(--primary);
    text-shadow: var(--color-bg) 5px 7px 15px;
}

.background-contact {
    background-image: url(../images/info-media/Arcane_Official_Trailer_Textless.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-contact>* {
    position: relative;
    top: -7.5vh;
}

.title-form {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--primary);
    font-size: 2.25rem;

}

.contact-form {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;

    min-height: 65vh;
    padding: 3rem 2rem;

    border: solid var(--primary) 0.35rem;
    border-radius: 50px;
}

.formulario {
    background-color: var(--color-primaryT);
}

.contact-form>* {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;

    padding: 0 2rem;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;

    gap: 0.1rem;

    padding: 0 2.5rem 0 2.5rem;
}

.name-fields {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    gap: 2rem;
}

.form-group>label {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}

.name-fields>input[type="text"],
.form-group>input[type="text"],
.form-group>input[type="email"],
.form-group>input[type="tel"],
.form-group>textarea {
    width: 100%;

    border: solid var(--primary) 2px;
    border-radius: 15px;
    font-size: 1rem;

    padding: 0.75rem;
}

.name-fields>input[type="text"]:focus,
.form-group>input[type="text"]:focus,
.form-group>input[type="email"]:focus,
.form-group>input[type="tel"]:focus,
.form-group>textarea:focus {
    border-color: var(--boton-1);
    outline: none;
}

.contact-form>.form-message {
    height: calc((100% / 6) *2);
}

.form-message>.message {
    min-height: 10rem;
    resize: none;
}

button[type="submit"] {
    width: 50%;
    height: 4rem;

    align-items: center;
    justify-content: center;

    position: relative;
    left: 50%;
    top: 1rem;

    transform: translateX(-50%);
}

.contact-form>button {
    background-color: var(--primary);
    color: var(--color-text);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;

    padding: 1rem;

    cursor: pointer;
}

.contact-form>button:hover {
    background-color: var(--boton-1);
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    width: 100%;
    height: 30vh;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 80%;
    height: inherit;
}

.footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    color: var(--color-text);
}

.footer a:hover {
    color: var(--color-gold);
}

.footer-general {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 19vh;
    padding: 1rem;


}

.footer .link-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .logo {
    width: clamp(10vw, 12.5vw, 20vw);
    height: 5vh;
}


.footer-menu {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 3rem;

    width: 60%;
    height: inherit;
}

.footer-items {
    list-style-type: none;

    text-align: start;
    width: 100%;
}

.social-media-logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 25%;
    height: auto;
}

.social-media {
    min-width: 7.5vh;
    min-height: 7.5vh;
}

.social-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    filter: invert(100%) brightness(100%);
}

.arcane-copyright {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    text-align: center;
    width: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    color: var(--color-text);
    font-size: .75rem;
}


@media (max-width: 1200px) {

    .galeria__imagenes-i,
    .galeria__imagenes-ii,
    .galeria__imagenes-iii {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 360px) and (max-width: 600px) {

    /* HEADER */
    .logo1 {
        max-width: 7.5rem;
    }

    .menu {}

    .menu__lista {}

    .menu__item {}

    .menu__item a {}

    .menu__item a:hover {}

    /* HOME PAGE*/
    .logo {
        width: 90vw;
        gap: 2vh;
    }

    .logo img {
        object-fit: none;
        object-position: center;

        transform: scale(.5);
    }

    /* SECUNDARIO */
    .secundario .trailers {
        width: 90%;
    }

    /* Trailers */
    .trailers {
        flex-direction: column;
        position: relative;
        /* top: 2rem; */
    }

    .trailers .contenedor {
        width: 98%;
    }

    .trailers__iframe {
        width: 100%;
        height: 25vh;
    }

    .trailers__iframe iframe {
        width: 100%;
        height: 100%;

        padding: 3%;
    }


    h4 {
        font-size: 1.25rem;
    }

    /* Boton */
    .boton,
    .boton-2 {
        position: relative;

        transform: scale(.8);
    }

    .boton {
        top: -3rem;
    }

    .boton-2 {
        top: 3rem;
    }

    /* CAPITULOS ----------------------------------------------------------*/
    .title-h1 {
        font-size: 1.5rem;
    }

    .contenedor-acto {
        gap: .5rem;

        padding: .5rem;
    }

    .section-principal-1,
    .section-principal-2,
    .section-principal-3 {
        height: auto;
        padding: 0;
        gap: 1rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .capitulo {
        flex-direction: column;
        left: 0;
        gap: .5rem;

        padding: 0;
    }

    .capitulo__img {
        width: 100%;
    }

    .capitulo__img img {
        width: 100%;
    }

    .capitulo__netflix {
        gap: .5rem;
        padding: 0;
    }

    .capitulo__netflix a {
        font-size: 1rem;
        font-weight: 500;
    }

    .capitulo__descripcion {
        display: none;
        font-size: .75rem;
        line-height: normal;
    }

    .capitulo:hover {
        border: 5px solid var(--color-text);
        border-radius: 30px;
        box-shadow: 1px 3px 15px 0 var(--color-text);
    }

    /* Galería */
    .galeria {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .75rem;

        padding: 1rem 2rem;
    }

    .galeria h2 {
        font-size: 1.25rem;
    }

    /* Galería: Acto I */
    .galeria__imagenes-i,
    .galeria__imagenes-ii,
    .galeria__imagenes-iii {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 0;
    }

    .galeria__imagenes-i div,
    .galeria__imagenes-ii div,
    .galeria__imagenes-iii div {
        width: 100%;
        height: 100%;
    }

    .galeria__imagenes-i div img,
    .galeria__imagenes-ii div img,
    .galeria__imagenes-iii div img {
        width: 100%;
        height: 100%;
    }

    /* HISTORIA ----------------------------------------------------------------*/
    .history p {
        position: relative;
        left: -45%;

        width: 90vw;
        padding: 0% 5%;

        font-size: 1.1rem;
        line-height: normal;

        text-align: center;
    }

    .history__container h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* SEGUNDA TEMPORADA -----------------------------------------------------------*/
    .section2-container {
        font-size: .7rem;
        font-weight: 600;

        -webkit-text-stroke: 1.25px black;
    }

    .articulo__info {
        gap: .5rem;
        padding: 0 5%;
    }

    .articulo__info h3 {
        position: relative;
        top: -2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .articulo__info p {
        width: 100%;
        font-size: 1rem;
    }

    .season2-section .articulo__video {
        gap: 2rem;
    }

    .articulo__video h3 {
        font-size: 1.5rem;
    }

    .articulo__video iframe {
        width: 98%;
        height: 30vh;

        padding: 1%;
    }

    /*INFORMACION--------------------------------------------------------*/
    .general {
        gap: 1rem;
    }

    /* GENERAL */
    .general section {
        flex-direction: column;
        padding: 3% 0;
        width: 98%;

        background-color: var(--color-text);

        overflow: hidden;
    }

    /* INFORMACION */
    .info__info {
        width: 100%;
    }

    .info__info li {
        font-size: .9rem;
        font-weight: 500;
    }

    .info__title {
        font-size: 1rem;
        margin: 1.5%;
    }

    .info__lista {
        line-height: normal;
    }

    .info__imagen {
        width: 100%;
    }

    /* SINOPSIS */
    .sinopsis div h2 {
        font-size: 1rem;
        margin-bottom: 2%;
    }

    .sinopsis div p {
        font-size: .75rem;
        font-weight: 500;
    }

    /* REPARTO */
    .reparto {
        flex-direction: column;
    }

    .reparto__reparto {
        width: 100%;
    }

    .reparto h2 {
        margin: 1.5%;
    }

    .reparto__lista {
        text-align: start;
        font-size: .9rem;
        line-height: normal;
        font-weight: 500;

        padding: 0 5%;
    }

    /* BANDA SONORA */
    .banda-sonora {
        flex-direction: column;
    }

    .banda-sonora__info {
        width: 100%;
        flex-direction: column;
    }

    .banda-sonora__info p {
        text-align: justify;
        font-size: .9rem;
        font-weight: 500;
        padding: 3%;
    }

    .banda-sonora__info iframe {
        width: 100%;
        height: 100%;

        padding: 3%;
    }

    .banda-sonora__imagen {
        width: 100%;
    }

    /* DOCUMENTALES */
    .documentales__documentales {
        gap: 1rem;
    }

    .documentales__principal {
        flex-direction: column;
        gap: 1rem;
    }

    .documentales__principal h3 {
        font-size: 1rem;
    }

    .documentales__principal div {
        width: 60%;
    }

    .documentales__documentales h3 {
        font-size: 1.1rem;
    }

    .documentales__secundario iframe {
        width: 65%;
        padding: 3%;
    }

    /* CRITICAS, RANKING, PREMIOS */
    .criticas,
    .rank,
    .premios {
        gap: .5rem;
    }

    .criticas div,
    .rank div,
    .premios div {
        width: 100%;
    }

    .criticas div ul,
    .rank div ul,
    .premios div ul {
        gap: .5rem;
    }

    .criticas li,
    .rank li,
    .premios li {
        font-size: .75rem;
        text-align: start;
    }

    cite {
        font-size: .8rem;
        font-weight: 500;
    }

    .general section h2 {
        font-size: 1.5rem;
    }

    /*CONTACTO------------------------------------------------------------*/
    .main-contact {
        margin-bottom: 8vh;
    }

    .background-contact {
        background-position-x: 55%;
    }

    .main-contact>* {
        position: relative;
        top: -7.5vh;
    }

    .title-form {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        color: var(--primary);
        font-size: 1.5rem;

    }

    .contact-form {
        height: auto;
        min-height: auto;
        padding: 1.5rem;
        gap: .5rem;
    }

    .form-group {
        flex-direction: column;
        padding: 0;
    }

    .name-fields {
        flex-direction: column;

        gap: .75rem;
    }

    .form-group>label {
        font-size: 1.2rem;
    }

    .name-fields>input[type="text"],
    .form-group>input[type="text"],
    .form-group>input[type="email"],
    .form-group>input[type="tel"],
    .form-group>textarea {
        font-size: .75rem;
    }

    .form-message>.message {
        min-height: 7.5rem;
    }

    button[type="submit"] {
        width: 50%;
        height: 3rem;
        top: .5rem;
    }

    .contact-form>button {
        font-size: .9rem;
    }

    /* FOOTER */
    .footer-nav {
        width: 100%;
        gap: .5rem;
    }

    .footer a {
        font-size: .9rem;
    }

    .footer-general {
        flex-direction: column;
        gap: .5rem;
    }

    .footer .logo {
        width: 80%;
    }

    .footer-menu {
        padding-left: 0;
        gap: .3rem;
    }

    .footer-items {
        text-align: center;
    }

    .social-media {
        min-width: 4vh;
        min-height: 4vh;
    }

    .arcane-copyright {
        font-size: .5rem;
    }
}